.work-container {
    background-color: lightblue;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
    
}

.work-container h2 {
    margin: 10px;
    font-weight: bold;
}

.work-container input {
    margin: 0 15px 0 5px;
}

.job-card {
    margin:20px;
    background-color: rgb(54, 54, 98);
    border-radius: 20px;
    padding: 20px;
    color:rgb(238, 236, 236)
}

